<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
    <link rel="stylesheet" media="screen"
          href="../static/css/first.scss" th:href="@{css/first.scss}"/>
    <link rel="stylesheet" media="screen"
          href="../static/bootstrap/css/bootstrap.css" th:href="@{bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" media="screen"
          href="../static/css/MainLayout.css.scss" th:href="@{css/MainLayout.css}"/>
    <script src="plugins/sparkline/jquery.sparkline.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.8/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.8/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
    <script type="text/babel" th:src="@{/js/layout.js}"/>
</head>
<body class ="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div id="twc-layout"> </div>
</div>

</body>
</html>